// sidebar wrapper
.sidebar-wrapper {
    height: 100vh;
    width: 200px;
    transition: all 0.3s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;

}

.sidebar-wrapper.active {
    transform: translateX(-100%);
    
}

.topbar-wrapper {
    width: calc(100% - 200px);
    // width: 100%;

}
.topbar-wrapper.active {
    width: 100%;
}
.admin_nav,
.admin_configs {
    transform: translateX(110%);
    transition: all 0.1s ease-in-out;
}

.admin_nav.active,
.admin_configs.active {
    transform: translateX(0);
}


// my container
.my-container {
    position: absolute;
    width: calc(100% - 200px);
    left: 200px;
    height: 100%;
    transition: all 0.3s ease-in-out;
}

.my-container.resize {
    left: 0;
    width: 100%;
    .main-content {
        padding-block: 25px;
    }
}